/*
Color Pallette
#1abc9c - turquoise
#2ecc71 - emerald
#3498db - peter river
#9b59b6 - amethyst
#34495e - wet asphalt
#f1c40f - sun flower
#e67e22 - carrot
#e74c3c - alizarin
#ecf0f1 - clouds
#95a5a6 - concrete
*/


/* Global Styles
---------------------------------------- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
    color: #34495e;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

img {
    width: 300px;
}

a {
    color: #9b59b6;

}
a:hover {
    text-decoration: none;
}

h1 {
    font-size: 100px;
    line-height: 1;
}

h2 {
    font-size: 45px;
}

h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}

.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Profile
---------------------------------------- */
header {
    background-color: #3498db;
    color: aliceblue;
    text-align: center;
}

/* Projects
---------------------------------------- */
.projects {
    background-color: #1abc9c;
}

.projects a {
    color: #2F3061;
}

.projects .btn {
    color: #ecf0f1;
    background-color: #34495e;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background-color: #2c3e50;
}

.project-item {
    overflow: hidden;
    border-bottom: 1px dashed #34495e;
    padding: 25px 0px;
}

.project-item img {
    float:left;
    margin-right: 20px;
}

.project-item h3 {
    margin-top: 0;
}

/* Work
---------------------------------------- */
.work {
    background-color: #9b59b6;
    color: #ecf0f1;
}

.work a {
    color: #ecf0f1;
}
.work a:hover {
    color: lightpink;
}



/* Education
---------------------------------------- */
.education {
    background-image: url('../images/sharon-mccutcheon-unsplash.jpg');
    background-size: cover;
    color: #34495e;
}


/* Contact
---------------------------------------- */
footer {
    background-color: #3498db;
    color: antiquewhite;
    text-align: center;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
}
