/* Color Pallette
---------------------------------------- */

:root {
    --turquoise: #1abc9c;
    --emerald: #2ecc71;
    --peter-river: #3498db;
    --amethyst: #9b59b6;
    --wet-asphalt: #34495e;
    --sun-flower: #f1c40f;
    --carrot: #e67e22;
    --alizarin: #e74c3c;
    --clouds: #ecf0f1;
    --concrete: #95a5a6;
}

/* Global Styles
---------------------------------------- */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #34495e;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

img {
    width: 300px;
}

a {
    color: #9b59b6;

}
a:hover {
    text-decoration: none;
}

h1 {
    font-size: 100px;
    line-height: 1;
}

h2 {
    font-size: 45px;
}

h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}

.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

h3 {
    margin-bottom: 0;
}

.item-details h3 + p {
    font-style: italic;
}

.item-details h3 ~ p {
    margin: 0;
}

.divider > section {
    border-bottom: 1px dashed #34495e;
    padding: 25px 0px;
}

.divider > section:last-of-type {
    border-bottom: none;
}

/* Profile
---------------------------------------- */
header {
    background-color: #3498db;
    color: aliceblue;
}

/* Projects
---------------------------------------- */
.projects {
    background-color: #1abc9c;
}

.projects a {
    color: #2F3061;
}

.projects .btn {
    color: #ecf0f1;
    background-color: #34495e;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background-color: #2c3e50;
}

.project-item {
    overflow: hidden;
}

.project-item h3 {
    margin-top: 0;
}

/* Work
---------------------------------------- */
.work {
    background-color: #9b59b6;
    color: #ecf0f1;
}

.work a {
    color: #ecf0f1;
}
.work a:hover {
    color: lightpink;
}

/* Education
---------------------------------------- */
.education {
    background-image: url('../images/joanna-kosinska-unsplash.jpg');
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
    color: #34495e;
}

.education p {
    width: 60%;
}

/* Contact
---------------------------------------- */
footer {
    background-color: #3498db;
    color: antiquewhite;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
    color: antiquewhite;
}

.contact-list a:hover {
    color: yellowgreen;
}

/* Responsive
---------------------------------------- */
@media screen and (min-width: 750px) {
    header, footer {
        text-align: center;
    }
    .project-item img {
        float:left;
        margin-right: 20px;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 70px;
    }
    .contact-list {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 750px) {
    h1 {
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }

    h2 {
        line-height: 1;
    }

    .contact-list {
        padding: 5px;
    }
}
