/*
Color Pallette
#1abc9c - turquoise
#2ecc71 - emerald
#3498db - peter river
#9b59b6 - amethyst
#34495e - wet asphalt
#f1c40f - sun flower
#e67e22 - carrot
#e74c3c - alizarin
#ecf0f1 - clouds
#95a5a6 - concrete
*/


/* Global Styles
---------------------------------------- */
body {
    color: #34495e;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 300px;
}

a {
    color: #9b59b6;

}
a:hover {
    text-decoration: none;
    color: #27ae60;
}

h2 {
    margin:0;
}

h1, h2 {
    font-family: 'Caveat', cursive;
}

.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Profile
---------------------------------------- */
header {
    background-color: darkblue;
    color: aliceblue;
}

/* Projects
---------------------------------------- */
.projects {
    background-color: #1abc9c;
}

.projects a {
    color: #2F3061;
}

.projects .btn {
    color: #ecf0f1;
    background-color: #34495e;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background-color: #2c3e50;
}

/* Education
---------------------------------------- */
.work {
    background-color: #9b59b6;
    color: #ecf0f1;
}

.work a {
    color: #ecf0f1;
}



/* Work
---------------------------------------- */



/* Contact
---------------------------------------- */
footer {
    background-color: #3498db;
}
